---
layout: default
---

<div class="terminal">
    <div class="header">
        <div class="fake-buttons">
            <button class="close">&#10005;</button>
            <button>&#8210;</button>
            <button>&#9744;</button>
        </div>
        <span class="title">maria@localhost: ~/blog</span>
    </div>
    <div class="console">
        <div class="console-header">
            <p class="command"><span class="name">maria</span> in <span class="repo">maremarismaria.github.io</span> on 🌿 <span class="branch">Ubuntu-theme</span> <span class="versioning">[!]</span> via 💎 <span class="versioning">v2.7.0</span></p>
            <p class="command">⏳ <span class="timestamp">{ 06:49:23 }</span> 🔸 batcat blog.md</p>
        </div>
        <h2>> {{ page.list_title | default: "Posts" }}</h2>
        {%- if site.posts.size > 0 -%}
        <ul class="post-list">
            {%- for post in site.posts -%}
            <li>
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <span class="post-meta">{{ post.date | date: date_format }}</span>
                <h3>
                    <a class="post-link" href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                    </a>
                </h3>
                {%- if site.show_excerpts -%}
                {{ post.excerpt }}
                {%- endif -%}
            </li>
            {%- endfor -%}
        </ul>
        {%- endif -%}
    </div>
</div>
